# id:hostname:port:username:password:description
1:127.0.0.1:2221:root:123456:host1

# id:hostname:port:username:private_key:description
2:127.0.0.1:2222:root:/root/.ssh/id_rsa:host2

# TODO private_key start with "~"
3:127.0.0.1:2222:root:~/.ssh/id_rsa:host3